# Interface
streamlit==1.34.0

# LangChain & vector store
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.45
langchain-chroma==0.1.4
chromadb==0.4.24

# Embeddings & LLMs
openai==1.25.0
tiktoken==0.5.1

# Protobuf compatible
protobuf==3.20.3

# Utilitaires divers
python-dotenv==1.0.1
pydantic==1.10.13
sentence-transformers==2.6.1

# Pour compatibilité avec Chroma
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0

